
<nav class="navbar navbar-dark bg-dark">

  <!-- logo -->
  <div class="navbar-brand">
    <a class="navbar-item">
      <img src="assets/img/brain-logo.jpg" width="100" height="100">
    </a>
    <h1>Oppifon</h1>
  </div>
  <form action="" class="login">
    <div class="container">
      <div class="row">
        <div class="column">
          <label for="uname"><b>Email</b></label>
          <input type="text" placeholder="Email" name="email" required>
        </div>
        <div class="column">
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>
        </div>
      </div>
      <a href="/home" mdbBtn color="success" class="waves-light" mdbWavesEffect>Login</a>
      <input type="checkbox" name="remember"><label>Remember me</label>


      <label style="float: right" class="psw">Forgot <a href="#">password?</a></label>
    </div>

    <div class="container">

    </div>

    <div class="container" style="background-color:#f1f1f1">
    </div>
  </form>
</nav>
