<div class="container">
  <h1>{{title}}</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam in lorem sit amet leo accumsan lacinia. Aenean placerat.
    Integer malesuada. Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur,
    vel illum qui dolorem eum fugiat quo voluptas nulla pariatur? Maecenas ipsum velit, consectetuer eu lobortis ut, dictum
    at dui. Etiam dui sem, fermentum vitae, sagittis id, malesuada in, quam. Morbi leo mi, nonummy eget tristique non, rhoncus
    non leo. Phasellus enim erat, vestibulum vel, aliquam a, posuere eu, velit. Donec ipsum massa, ullamcorper in, auctor
    et, scelerisque sed, est. Praesent vitae arcu tempor neque lacinia pretium. Praesent dapibus. Aliquam erat volutpat.
  </p>
  <a (click)="signupClick()" mdbBtn color="success" class="waves-light" mdbWavesEffect>Sign up</a>
</div>

<div class="center">
  <h1>Experts</h1>
  <div class="container">
      <div class="row">

          <!-- Card deck -->
          <div class="card-deck">
              <!-- Card -->
              <div *ngFor="let expert of experts" class="card mb-4">

                <!--Card image-->
                <div class="view overlay">
                  <img class="card-img-top" src={{expert.image}} alt="Card image cap">
                  <a (click)=expertClick(expert.id)>
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>

                <!--Card content-->
                <div class="card-body elegant-color white-text rounded-bottom">

                  <!--Name-->
                  <h4 class="card-title">{{expert.firstName}} {{expert.lastName}}</h4>
                  <!--Description-->
                  <p class="card-text white-text mb-4">{{expert.description}}</p>
                  <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                  <a (click)=expertClick(expert.id) mdbBtn color="primary" class="waves-light" mdbWavesEffect>Read more</a>

                </div>

              </div>
              <!-- Card -->
          </div>
          <!-- Card deck -->
        </div>
          <!-- Card -->
      <a (click)=searchClick() mdbBtn color="default" class="waves-light" mdbWavesEffect>Search expert</a>
    </div>

  </div>
