<div class="container">

    <div class="modal-content">
        <div class="col-6">
            <div *ngIf="emailSent">
              <h2>Your code has been sent to your email</h2>
            </div>
      <!-- form  -->
      <form *ngIf="!emailSent" class="text-center border border-light p-5" [formGroup]="form">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Reset password</h5>
            </div>
        <!-- Email -->

        <input class="form-control" formControlName="email" type="email" placeholder="E-mail">
        <div class="d-flex justify-content-around">
            <div class="error" *ngIf="isFieldInvalid('email')">
                Please enter an email
              </div>
        </div>

        <!-- button -->
        <button class="btn btn-success btn-block my-4" [disabled]="!form.valid" (click)="onSubmit()" type="submit">Send code via e-mail</button>
      </form>
      <!-- form  -->
    </div>
  </div>
</div>
