<div class="container">

  <div class="modal-content">
      <div class="col-6">
    <!-- Default form login -->
    <form class="text-center border border-light p-5">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Reset password</h5>
          </div>
      <!-- Email -->
      <input type="email" id="oginFormEmail" class="form-control mb-4" placeholder="E-mail">
      <div class="d-flex justify-content-around">
      </div>

      <!-- Sign in button -->
      <button class="btn btn-success btn-block my-4" type="submit">Send code via e-mail</button>
    </form>
    <!-- form login -->
  </div>
</div>
</div>
