<div class="card">
  <div class="card-body">
    <div class="container">
      <div class="container form-group col-4">
        <label for="mainCatagoryMethod">Choose Main Catagory</label>
        <select name="mainCatagoryMethod" id="mainCatagoryMethod" (change)="search()" class="form-control" [(ngModel)]="mainCatagory">
          <option value="" disabled selected>Choose your option</option>
          <option *ngFor="let option of mainOptions" [value]="option">{{ option }}</option>
        </select>
      </div>

      <!-- Grid column -->
      <div class="col-md-12">

        <div class="md-form">
          <input type="search" [(ngModel)]="searchText" id="search" class="form-control" mdbInputDirective
            [mdbValidate]="false">
          <label for="search">Search</label>
        </div>
      </div>

      <div class="row">
        <a *ngFor="let expert of search()" class="container col-md-3" (click)="goToExpertDetails(expert.id)">
          <mdb-card id="expertCard">
            <mdb-card-body>
              <!-- Title -->
              <h4 class="card-title"><a>{{expert.firstName}} {{expert.lastName}}</a></h4>
              <h5 class="card-title"><a>{{expert.expertCategory}}</a></h5>
              <img class="card-img-100 rounded-circle d-flex z-depth-1 mr-3" src="assets/img/Rasmus.jpg" alt="Generic placeholder image">
              <p class="card-text">"{{expert.description}}"</p>
            </mdb-card-body>
          </mdb-card>

        </a>
      </div>
    </div>
  </div>
