<div class="center">
  <h1>Welcome {{user.firstName}}</h1>
  <h3>Experts</h3>
  <div class="container">
    <div class="row">

      <!-- Card deck -->
      <div class="card-deck">
          <!-- Card -->
          <div *ngFor="let expert of experts" class="card mb-4">

            <!--Card image-->
            <div class="view overlay">
              <img class="card-img-top" src={{expert.image}} alt="Card image cap">
              <a href="/expert/{{expert.id}}">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>

            <!--Card content-->
            <div class="card-body elegant-color white-text rounded-bottom">

              <!--Name-->
              <h4 class="card-title">{{expert.firstName}} {{expert.lastName}}</h4>
              <!--Description-->
              <p class="card-text white-text mb-4">{{expert.description}}</p>
              <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
              <a href="/expert/{{expert.id}}" mdbBtn color="primary" class="waves-light" mdbWavesEffect>Read more</a>

            </div>

          </div>
          <!-- Card -->
      </div>
      <!-- Card deck -->
    </div>
    <ng-template #loading>
      <mat-spinner></mat-spinner>
    </ng-template>
    <!--Navbar with Search button and Calender button-->
    <nav id="buttonNavbar" class=" container navbar navbar-light cyan darken-3 lighten-4 mb-4">

      <!-- Search button -->
      <button type="button" (click)="searchClick()" class="btn btn-mdb-color"><i class="fa fa-search mr-1"></i>
        Search expert</button>

      <!-- Search button -->
      <div *ngIf="user.isExpert">
        <button type="button" (click)="expertClick()" class="btn btn-amber"><i class="fa fa-lightbulb-o mr-1"></i>
          Expert Page</button>
      </div>

      <!-- Calender button -->
      <button type="button" (click)="calendarClick()" class="btn btn-mdb-color"><i class="fa fa-calendar mr-1"></i>
        Calendar</button>

    </nav>
    <!--/.Navbar-->

    <div id="feedbox" class=" container row">
      <!--Appointment column-->
      <div class="col-3">
        <div class="list-group">
          <a href="" class="list-group-item active waves-effect disabled">
            Appointments
          </a>
          <div *ngFor="let appointment of appointments">
            <a href="" class="list-group-item list-group-item-action waves-effect">
              {{appointment}}
            </a>
          </div>
        </div>
      </div>
      <!--/.Appointment column-->

      <!--Feed column-->
      <div class="col-6">
        <div class="list-group">
          <a href="" class="list-group-item active waves-effect disabled">
            News feed
          </a>
          <div *ngFor="let appointment of appointments">
            <a href="" class="list-group-item list-group-item-action waves-effect">
              {{appointment}}
            </a>
          </div>
        </div>
      </div>
      <!--/.Feed column-->

      <!--Favorites column-->
      <div class="col-3">
        <div class="list-group">
          <a href="" class="list-group-item active waves-effect disabled">
            Favorites
          </a>
          <div *ngFor="let favorite of favorites">
            <a (click)=favoriteClick(favorite.id) class="list-group-item list-group-item-action waves-effect">
              {{favorite.firstName}} {{favorite.lastName}}
            </a>
          </div>
        </div>
      </div>
      <!--/.Favorites column-->

    </div>
  </div>
</div>
